# Ignore everything
*

# Do not ignore setup files...
!.gitignore
!init.el
!config.org
!README.org

# Do not ignore startup splash...
!img/dashLogo.png

# Do not ignore custom packages...
!custom.el
!lisp/pdv-to-rut.el
!site-lisp/lilypond/*

# Example: how to not ignore stuff
#!*/
#!*/a/b/file1.txt
#!*/a/b/c/*
