\#*
*.elc
*~
.*.lock

/.emacs.desktop
/bookmarks

/auto-save-list
#/bookmarks
/custom.el
/elpa
/elpa-*
/eshell
/ido.last
/.session
/session.*
/.org-id-locations
/org-clock-save.el
/TODO

# latex files
*.aux
*.log
*.out
*.pdf
*.nfs*

# Image-dired
image-dired/*
*.jpg